body {
    background-color:#333; 
    font-family: 'Times New Roman', Courier New; 
    color:#393939; 
    padding: 0 5px 0 5px;
}
/*
textarea {background-color:#e3e5e1;font-family: 'Times New Roman',Courier New; height:100%; width: 100%;border:1px solid #255E6E;}
*/
h1 {
text-align:center;
padding: 0; margin: 0;}
ul {display:inline; padding: 0;}
li {list-style-type: none; display: inline;}

#container {border: 0; height: 380px;}

.sleek{margin:0 0 10px 0;}
.sleek h1{
color:#fff;
font-size:16px;
font-weight:bold;
background-color:#255e6e;
background:-moz-linear-gradient(center top,'#629998','#405A6A');filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#629998',endColorstr='#405a6a');
background:-webkit-gradient(linear,left top,left bottom,from(#629998),to(#405a6a));
background:-moz-linear-gradient(top,#629998,#405a6a);
background:-o-linear-gradient(top,#629998,#405a6a);
border:3px solid #677c89;
border-bottom-color:#6b808d;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;
text-shadow:0 -1px 0 rgba(0,0,0,0.7);margin:0 0 10px 0;padding:8px 18px;position:relative;}
.sleek h1 a{color:#fff;text-decoration:none;}
.sleek h1 span{color:#e9f1f4;font-size:70%;font-weight:normal;text-shadow:none;}

.sleek .sleek-body{overflow:hidden; padding: 0 0 0 25px;margin-left:-1.5em;}

.sleek ul{list-style-type:none;position:relative;}
.sleek ul li{color:#666;font-size:13px;font-weight:normal;background-color:#d1e5f3;background:-moz-linear-gradient(center top,'#d1e5f3','#255e6e');filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d1e5f3',endColorstr='#255e6e');background:-webkit-gradient(linear,left top,left bottom,from(#d1e5f3),to(#255e6e));background:-moz-linear-gradient(top,#d1e5f3,#255e6e);background:-o-linear-gradient(top,#d1e5f3,#255e6e);border:1px solid #255e6e;border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;display:block;width:150px;height:70px;float:left;position:relative;margin:0 10px 0 0;-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;}
.sleek ul li a{color:#666;text-decoration:none;}

.sleek .result{padding:5px 5px 22px 55px;display:block;position:relative; height:10px;border-bottom:1px solid #255e6e;background-repeat:no-repeat;background-position:center center;}
.sleek .result h2{margin:0;padding:0;font-size:32px;color:#393939;}

.sleek .desc{padding:3px 0 10px 5px;display:block;height:45px;overflow:hidden;border-top:10px groove #fffae5;background-repeat:no-repeat;position:relative;z-index:2;}
#count
{
text-align:center;
font-size:18px;
}
.sleek .desc h2{margin:0;padding:0;font-size:14px;color:#ffffee;}
.sleek .desc p{margin:0;padding:0;line-height:1.2em;}





#sim {
    width:800px;
    height:400px;
    border:solid 1px #2e2e2e;
    color:black;
    padding:5px;
    overflow-y:scroll;
    border:9px outset #0ADA0A;
    margin-top:1em;
    font-size:16pt;
    text-align:left;
    background-color:white;
    column-count: 2;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap : 20px;
    -moz-column-rule-color: #ccc;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
    -webkit-column-rule-color: #ccc;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
}

button{
    padding:10px 25px;
    color:#fafafa;
    transition:all 0.3s;
    cursor:pointer;
}
#go{
    background-color:#46A111;
    border:solid 1px #46A111;
}
#go:hover{
    background-color:#fafafa;
    color:#46A111;
}
#stop{
    background-color:#A11111;
    border:solid 1px #A11111;
}
#stop:hover{
    background-color:#fafafa;
    color:#A11111;
}

#reset{
    background-color:black;
    border:solid 1px #B22222;
}
#reset:hover{
    background-color:#bfbfbf;
    color:#B22222;
}
p{
    font-family:Arial;
    font-weight:bold;
    color:#2e2e2e;
    padding:5px 10px;
}
b{
color:white;
}

h1, p{
    font-family:"Times New Roman", Arial;
    color:white;
}
p{
    padding:0;
    margin:0;
}
label{
    display:block;
    padding:10px 0;
}
input[type="text"]{
    width:50px;
    height:20px;
    border:solid 1px #2e2e2e;
    padding:0 5px;
}
.summary{
width:350px;
height:30px;
margin-left:12em;
    background-color:rgba(0,0,0,0.1);
    border:solid 1px #2e2e2e;
    padding:5px;
    margin-top:10px;
    display:none;
    border-radius: 45px;
    background: #8AC007;
    padding: 5px;   
    
    
}


/* Night mode 
body.night {
    background-color: #111;
    color: #ddd;
}
.night #container {
    background-color: #000;
}
.night #sim {
    background: #111;
    color: #ddd;
}
.night #word {
    color: #fff;
}

.night #summary{

width:400px;
height:40px;
    background-color:rgba(0,0,0,0.1);
    border:solid 1px yellow;
    padding:5px;
color:white;    
    margin-top:10px;
    display:none;
}

.night #speed {
    background-color: #222;
    color: #ddd;
    border-width: 1px;
}
input[type="checkbox"] {
    position: relative;
    top: 1px;
}
.row {
    height: 10px;
}

.night #wordCountBox{
    font-family:Arial;
    font-weight:bold;
    color:red;
    padding:5px 10px;
    margin-left:1px;
}

.night #timepassed{
    font-family:Arial;
    font-weight:bold;
    color:red;
    margin-top:-7px;
    padding:5px 10px;
    margin-left:-1px;
}
*/
#bold{
    font-weight:bold;
}

#incfont{
    background-color:purple;
    border:solid 1px #46A111;
}
#incfont:hover{
    background-color:#fafafa;
    color:#46A111;
}
#decfont{
    background-color:orange;
    border:solid 1px #A11111;
}
#decfont:hover{
    background-color:#fafafa;
    color:#A11111;
}    
    .grayx {
    font-weight: 600;
    
}
.graydim {
    color: dimgray;
}

#wordCountBox{
    font-weight:bold;    
    font-size:18px;
    margin-left:2em;  

}
#timepassed{
    font-weight:bold; 
    font-size:18px;
    text-align:center;

}